<div class="mat-elevation-z0">
  <h1>Table 1</h1>
  <button mat-button (click)="addFieldValue(1)" color="soft" style="display: inline-block;">Add Attribute</button>
  <table mat-table class="full-width-table" [dataSource]="dataSourceOne" aria-label="Elements">
    <!-- name Column -->
    <ng-container matColumnDef="physicalName">
      <th mat-header-cell *matHeaderCellDef>Physical Name</th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <ng-container class="editable" *ngIf="selectedRowIndex === element?.id && selectedDataSourceNumber === 1 && showEditable && !isInitial else regularRow"> 
        <input type="text" 
        placeholder = "Physical Name"
        name="physicalName"
        class="inputTag"
        [(ngModel)]="element.physicalName">
        </ng-container>
        <ng-template #regularRow>{{element.physicalName}}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <ng-container class="editable" *ngIf="selectedRowIndex === element?.id && selectedDataSourceNumber === 1 && showEditable && !isInitial else regularRow"> 
        <input type="text" 
        placeholder = "Type"
        name="type"
        class="inputTag"
        [(ngModel)]="element.type">
        </ng-container>
      <ng-template #regularRow>{{element.type}}</ng-template>
      </td> 
    </ng-container>

    <ng-container matColumnDef="defaultVal">
      <th mat-header-cell *matHeaderCellDef>Default Value</th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <ng-container class="editable" *ngIf="selectedRowIndex === element?.id && selectedDataSourceNumber === 1 && showEditable && !isInitial else regularRow"> 
        <input type="text" 
        placeholder = "Default Value"
        name="defaultVal"
        class="inputTag"
        [(ngModel)]="element.defaultVal">
        </ng-container>
        <ng-template #regularRow>{{element.defaultVal}}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="format">
      <th mat-header-cell *matHeaderCellDef>Format</th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <ng-container class="editable" *ngIf="selectedRowIndex === element?.id && selectedDataSourceNumber === 1 && showEditable && !isInitial else regularRow"> 
        <input type="text" 
        placeholder = "Format"
        name="format"
        class="inputTag"
        [(ngModel)]="element.format">
        
        </ng-container>
        <ng-template #regularRow>{{element.format}}</ng-template>
      </td> 
    </ng-container>
    
    <ng-container matColumnDef="length">
      <th mat-header-cell *matHeaderCellDef>Length</th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <ng-container class="editable" *ngIf="selectedRowIndex === element?.id && selectedDataSourceNumber === 1 && showEditable && !isInitial else regularRow"> 
        <input type="text" 
        placeholder = "Length"
        name="length"
        class="inputTag"
        [(ngModel)]="element.length">

        <button mat-button class="cancelBtn" (click)="cancelChange()" type="reset">Cancel</button>
        <button mat-button class="submitRec" (click)="saveRecord()" type="submit">
          <img src="chbox.svg" alt="check">
        </button>
        </ng-container>
        <ng-template #regularRow>{{element.length}}</ng-template>
      </td> 
    </ng-container>

    <ng-container matColumnDef="bin">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <img src="imageBin.svg" alt="Bin" (click)="deleteRowData(dataSourceOne, element.id)">
      </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; index as i; columns: displayedColumns;" (click)="handleRowClick(1, row.id)"></tr>
  </table>

  <br>

  <h1>Table 2</h1>
  <button mat-button (click)="addFieldValue(2)" color="soft" style="display: inline-block;">Add Attribute</button>

  <table mat-table class="full-width-table" [dataSource]="dataSourceTwo" matSort aria-label="Elements">
    <!-- name Column -->
    <ng-container matColumnDef="physicalName">
      <th mat-header-cell *matHeaderCellDef>Physical Name</th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <ng-container class="editable" *ngIf="selectedRowIndex === element?.id && selectedDataSourceNumber === 2 && showEditable && !isInitial else regularRow"> 
        <input type="text" 
        placeholder = "Physical Name"
        name="physicalName"
        class="inputTag">
        </ng-container>
        <ng-template #regularRow>{{element.physicalName}}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <ng-container class="editable" *ngIf="selectedRowIndex === element?.id && selectedDataSourceNumber === 2 && showEditable && !isInitial else regularRow"> 
        <input type="text" 
        placeholder = "Type"
        name="type"
        class="inputTag">
        </ng-container>
      <ng-template #regularRow>{{element.type}}</ng-template>
      </td> 
    </ng-container>

    <ng-container matColumnDef="defaultVal">
      <th mat-header-cell *matHeaderCellDef>Default Value</th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <ng-container class="editable" *ngIf="selectedRowIndex === element?.id && selectedDataSourceNumber === 2 && showEditable && !isInitial else regularRow"> 
        <input type="text" 
        placeholder = "Default Value"
        name="defaultVal"
        class="inputTag">
        </ng-container>
        <ng-template #regularRow>{{element.defaultVal}}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="format">
      <th mat-header-cell *matHeaderCellDef>Format</th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <ng-container class="editable" *ngIf="selectedRowIndex === element?.id && selectedDataSourceNumber === 2 && showEditable && !isInitial else regularRow"> 
        <input type="text" 
        placeholder = "Format"
        name="format"
        class="inputTag">
        </ng-container>
        <ng-template #regularRow>{{element.format}}</ng-template>
      </td> 
    </ng-container>
    
    <ng-container matColumnDef="length">
      <th mat-header-cell *matHeaderCellDef>Length</th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <ng-container class="editable" *ngIf="selectedRowIndex === element?.id && selectedDataSourceNumber === 2 && showEditable && !isInitial else regularRow"> 
        <input type="text" 
        placeholder = "Length"
        name="length"
        class="inputTag">

        <button mat-button class="cancelBtn" (click)="cancelChange()" type="reset">Cancel</button>
        <button mat-button class="submitRec" (click)="saveRecord()" type="submit">
          <img src="chbox.svg" alt="check">
        </button>
        </ng-container>
        <ng-template #regularRow>{{element.length}}</ng-template>
      </td> 
    </ng-container>

    <ng-container matColumnDef="bin">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <img src="imageBin.svg" alt="Bin" (click)="deleteRowData(dataSourceTwo, element.id)">
      </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; index as i; columns: displayedColumns;" (click)="handleRowClick(2, row.id)"></tr>
  </table>

  <br>
  <h1>Table 3</h1>
  <button mat-button (click)="addFieldValue(3)" color="soft" style="display: inline-block;">Add Attribute</button>
  <table mat-table class="full-width-table" [dataSource]="dataSourceThree" matSort aria-label="Elements">
    <!-- name Column -->
    <ng-container matColumnDef="physicalName">
      <th mat-header-cell *matHeaderCellDef>Physical Name</th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <ng-container class="editable" *ngIf="selectedRowIndex === element?.id && selectedDataSourceNumber === 3 && showEditable && !isInitial else regularRow"> 
        <input type="text" 
        placeholder = "Physical Name"
        name="physicalName"
        class="inputTag">
        </ng-container>
        <ng-template #regularRow>{{element.physicalName}}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <ng-container class="editable" *ngIf="selectedRowIndex === element?.id && selectedDataSourceNumber === 3 && showEditable && !isInitial else regularRow"> 
        <input type="text" 
        placeholder = "Type"
        name="type"
        class="inputTag">
        </ng-container>
      <ng-template #regularRow>{{element.type}}</ng-template>
      </td> 
    </ng-container>

    <ng-container matColumnDef="defaultVal">
      <th mat-header-cell *matHeaderCellDef>Default Value</th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <ng-container class="editable" *ngIf="selectedRowIndex === element?.id && selectedDataSourceNumber === 3 && showEditable && !isInitial else regularRow"> 
        <input type="text" 
        placeholder = "Default Value"
        name="defaultVal"
        class="inputTag">
        </ng-container>
        <ng-template #regularRow>{{element.defaultVal}}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="format">
      <th mat-header-cell *matHeaderCellDef>Format</th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <ng-container class="editable" *ngIf="selectedRowIndex === element?.id && selectedDataSourceNumber === 3 && showEditable && !isInitial else regularRow"> 
        <input type="text" 
        placeholder = "Format"
        name="format"
        class="inputTag">
        </ng-container>
        <ng-template #regularRow>{{element.format}}</ng-template>
      </td> 
    </ng-container>
    
    <ng-container matColumnDef="length">
      <th mat-header-cell *matHeaderCellDef>Length</th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <ng-container class="editable" *ngIf="selectedRowIndex === element?.id && selectedDataSourceNumber === 3 && showEditable && !isInitial else regularRow"> 
        <input type="text" 
        placeholder = "Length"
        name="length"
        class="inputTag">

        <button mat-button class="cancelBtn" (click)="cancelChange()" type="reset">Cancel</button>
        <button mat-button class="submitRec" (click)="saveRecord()" type="submit">
          <img src="chbox.svg" alt="check">
        </button>
        </ng-container>
        <ng-template #regularRow>{{element.length}}</ng-template>
      </td> 
    </ng-container>

    <ng-container matColumnDef="bin">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i=index;">
        <img src="imageBin.svg" alt="Bin" (click)="deleteRowData(dataSourceThree, element.id)">
      </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; index as i; columns: displayedColumns;" (click)="handleRowClick(3, row.id)"></tr>
  </table>

  
</div>
